
beautifulsoup4
channels
channels-redis
charset-normalizer
daphne
distlib
dj-database-url
Django
django-crontab
django-environ
django_debug_toolbar
gunicorn
mysqlclient
numpy
requests
requests-file
Scrapy
service-identity
soupsieve
sqlparse
tldextract
toml
urllib3
w3lib
