
  <div class="row">
    <form method="get" action=".">
      <label for="sort-by">Sorter:</label>
      <select id="sort-by" name="sort">
        <option value="-year">År</option>
        <option value="price">Pris</option>
        <option value="model">Merke</option>
      </select>
      <button href="#my-content" id="my-content" type="button" class="btn btn-primary">Sorter</button>
    </form>
  </div>

  <div id="my-content" class="row">
    {% for car in cars %}
      <div class="col-6 col-sm-4" data-id="{{ car.id }}">
        <!-- Card content here -->
        <div class="card w-100 my-2 shadow-2-strong">
          <img
            src="{{ car.image }}"
            class="card-img-top"
            alt="{{ car.model }} - {{ car.model_type }} image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ car.model }} - {{ car.model_type }}</h5>
            <p class="card-text">{{ car.price }} nok.</p>
            <div class="mt-auto d-flex">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#popup-{{ car.id }}"
              >
                Mer
              </button>
              <button
                type="button"
                class="btn btn-primary ms-2"
                data-bs-toggle="modal"
                data-bs-target="#booking-{{ car.id }}"
              >
                Book visning
              </button>
            </div>
          </div>
        </div>
  
      
      <!-- Modal for more details -->
      <div
        class="modal fade"
        id="popup-{{ car.id }}"
        tabindex="-1"
        aria-labelledby="popup-{{ car.id }}-label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="popup-{{ car.id }}-label">
                {{ car.model }} - {{ car.model_type }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <iframe
                src="{{ car.url }}"
                id="detailsFrame"
                width="100%"
                height="400"
                frameborder="0"
              ></iframe>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#booking-{{ car.id }}"
                data-bs-dismiss="modal"
              >
                Book visning
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of modal for more details -->

      <!-- Modal for booking viewing -->
      <div
        class="modal fade"
        id="booking-{{ car.id }}"
        tabindex="-1"
        aria-labelledby="booking-{{ car.id }}-label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="booking-{{ car.id }}-label">
                {{ car.model }} - {{ car.model_type }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="" id="buyForm" method="POST">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="Navn"
                      />
                      <label for="name">Navn</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input
                        type="number"
                        class="form-control"
                        id="mobile"
                        placeholder="Mobil"
                      />
                      <label for="Mobil">Mobil</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <textarea
                        class="form-control"
                        placeholder=""
                        id="car"
                        style="height: 60px"
                      >{{ car.model }} - {{ car.model_type }}</textarea>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-floating">
                      <textarea
                        class="form-control"
                        placeholder="Leave a message here"
                        id="message"
                        style="height: 100px"
                      ></textarea>
                      <label for="melding">Melding</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary py-3 px-5" type="submit">
                      Book visning
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End of modal for booking viewing -->
    </div>
    {% endfor %}
  </div>