<!-- Features Start -->
<div class="container-xxl feature py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p
          class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3"
        >
          Hvorfor velge oss!
        </p>
        <h1 class="display-5 mb-4">Grunner til hvorfor folk velger oss!</h1>
      </div>
      <div class="col-lg-12">
        <div class="row g-3 align-items-center">
          <div class="col-md-12">
            <div class="row g-3">
              <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature-box border rounded p-4">
                  <i class="fa fa-check fa-3x text-primary mb-3"></i>
                  <h4 class="mb-3">Tilstandsrapport og nøytrale bilder</h4>
                  <p class="mb-3">
                    Alle biler som er priset over 49 900 kroner, leveres med
                    tilstandsrapport fra godkjent verksted, hvor tekniske og
                    sikkerhetsanmerkninger utbedres før levering. Alle bilder på
                    bilene er nøytrale uten fotoshop eller redigering. I tillegg
                    leveres alle biler med ny EU om det er behov for det.
                  </p>
                </div>
              </div>
              <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-box border rounded p-4">
                  <i class="fa fa-check fa-3x text-primary mb-3"></i>
                  <h4 class="mb-3">Innbytte og registrering</h4>
                  <p class="mb-3">
                    Vi tar din bil i innbytte, send gjerne regnummer og
                    kilometerstand. Obs, ta med brikke eller mobilbank for
                    godkjenning av eierskifte, elektronisk. Som godkjent
                    Autoreg-forhandler av Statens Vegvesen ordner vi
                    registreringen selv og kan dermed levere bilen raskt.
                  </p>
                </div>
              </div>

              <div class="col-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="feature-box border rounded p-4">
                  <i class="fa fa-check fa-3x text-primary mb-3"></i>
                  <h4 class="mb-3">Finansiering og forsikring</h4>
                  <p class="mb-3">
                    Vi tilbyr finansiering på dagen fra 0 kroner i innskudd via
                    våre samarbeidspartnere Santander, Nordea, Sparebank eller
                    DNB. Du kan også få gunstig forsikring gjennom våre
                    samarbeidspartnere IF, Gjensidig, Sparebank eller DNB. Be
                    gjerne om tilbud.
                  </p>
                </div>
              </div>
              <div class="col-6 wow fadeIn" data-wow-delay="0.9s">
                <div class="feature-box border rounded p-4">
                  <i class="fa fa-check fa-3x text-primary mb-3"></i>
                  <h4 class="mb-3">Heftelser, DAB+ og ekstrautstyr</h4>
                  <p class="mb-3">
                    Ingen biler leveres med heftelser på. Vi monterer DAB+ om
                    ønskelig (om bilen ikke har det). Ønsker du å ha mer utstyr
                    på bilen, skaffer vi det meste, for eksempel ekstralys,
                    kufanger, takboks og mer, TÜV-godkjent, til veldig
                    fornuftige priser.
                  </p>
                </div>
              </div>

              <div class="col-6 wow fadeIn" data-wow-delay="0.11s">
                <div class="feature-box border rounded p-4">
                  <i class="fa fa-check fa-3x text-primary mb-3"></i>
                  <h4 class="mb-3">Transport</h4>
                  <p class="mb-3">
                    Vi sender biler over hele Norge med våre samarbeidspartnere
                    NTB til fornuftige priser.
                  </p>
                </div>
              </div>

              <div class="col-6 wow fadeIn" data-wow-delay="0.13s">
                <div class="feature-box border rounded p-4">
                  <i class="fa fa-check fa-3x text-primary mb-3"></i>
                  <h4 class="mb-3">Ingen skjulte kostnader</h4>
                  <p class="mb-3">
                    Vi hos Bil 2 AS Levanger er opptatt av å være transparente
                    og ærlige i alle våre bilsalg. Derfor vil du aldri oppleve
                    noen skjulte kostnader når du kjøper en bil hos oss. Vi er
                    tilgjengelige for å svare på eventuelle spørsmål og hjelpe
                    deg med å finne den rette bilen som passer ditt budsjett og
                    behov.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->
  </div>
</div>
