<!-- Service Start -->
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Tjenester</p>
            <h1 class="display-5 mb-5">Våre fantastiske tjenester</h1>
        </div>
        <div class="row g-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Salg</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Kjøp</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Innbytte</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Bilpleie</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-5" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Dekk og felger</h5>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-6">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{{ ASSETS_ROOT }}/img/service1.jpeg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">10+ års erfaring med salg av brukte biler</h3>
                                <p class="mb-4">Vi tilbyr et stort utvalg av bruktbiler i alle prisklasser. Hos oss finner du alltid en bil som passer dine behov og budsjett. Vi sørger for at bilene våre er i god stand og de fleste leveres med garanti og tilstandsrapport.</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-6">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{{ ASSETS_ROOT }}/img/service2.jpeg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">10+ års erfaring med kjøp av brukte biler</h3>
                                <p class="mb-4">Hvis du ønsker å selge bilen din, kan du ta kontakt med oss for å få den rette prisen. Vi er alltid interessert i å kjøpe brukte biler av høy kvalitet.</p>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-6">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{{ ASSETS_ROOT }}/img/service3.jpeg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">10+ års erfaring med innbytt av brukte biler</h3>
                                <p class="mb-4">Hos oss kan du bytte bilen din med en annen brukt bil til en fornuftig pris. Vi tar imot alle typer biler og sørger for at du får en rettferdig verdivurdering.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-6">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{{ ASSETS_ROOT }}/img/service4.jpeg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">10+ års erfaring med bilpleie</h3>
                                <p class="mb-4">Vi tilbyr en komplett bilpleie-pakke for å gjøre bilen din så god som ny. Fra vask og polering til lakkbehandling og interiørrengjøring, tar vi oss av alle aspekter ved bilpleie.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-5">
                        <div class="row g-6">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{{ ASSETS_ROOT }}/img/service5.avif"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">10+ års erfaring med Dekk og felger</h3>
                                <p class="mb-4">Vi leverer kvalitetsdekk og felger til de fleste biler. Uansett hva slags kjøretøy du har, kan vi hjelpe deg med å finne de beste dekkene og felgene som passer dine behov.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

