<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Vårt ekspertteam</p>
            <h1 class="display-5 mb-5">Eksklusivt Team</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="{{ ASSETS_ROOT }}/img/team2.jpg" alt="" style="width: 500px">
                    <div class="team-text">
                        <h4 class="mb-0">Nisrin Doha Al-Sarraj</h4>
                        <div class="team-social d-flex">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="{{ ASSETS_ROOT }}/img/team1.jpg" alt="" style="width: 500px">
                    <div class="team-text">
                        <h4 class="mb-0">Mohammed Al-Sarraj</h4>
                        <div class="team-social d-flex">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
